# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json
.pytest_cache/

# Django
*.sqlite3
*.pyc
staticfiles/
media/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environnement
.env
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.dbstatic/
static/


# Railway
.railway/
EOF