@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: #{$breakpoint-sm}) { @content; }
  }
  @if $breakpoint == md {
    @media (max-width: #{$breakpoint-md}) { @content; }
  }
  @if $breakpoint == lg {
    @media (max-width: #{$breakpoint-lg}) { @content; }
  }
  @if $breakpoint == xl {
    @media (max-width: #{$breakpoint-xl}) { @content; }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multi-line-ellipsis($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin card-shadow {
  box-shadow: $shadow-md;
  transition: box-shadow $transition-normal;

  &:hover {
    box-shadow: $shadow-lg;
  }
}

@mixin button-variant($background, $color) {
  background-color: $background;
  color: $color;
  border: 1px solid $background;

  &:hover {
    background-color: darken($background, 10%);
    border-color: darken($background, 10%);
  }

  &:disabled {
    background-color: lighten($background, 20%);
    border-color: lighten($background, 20%);
    color: lighten($color, 20%);
  }
}